.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: black;

}
body{
    background-size: cover;
}
.speed{
    float:left;
}
.speed_img,.volume_img{
    width: 200px;
    border-radius:100px;

}
#speed_txt,#volume_txt{
    font-size: 23px;
    margin: 15px;
}
.volume{
    float: right;

}
.play_button{
width: 130px;
font-size: 25px;

}
canvas{
    border: 5px solid white;
    border-radius:20px ;
    
}
